
/* font style section */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.color-1{
    color: #8987A1;
}
.text-1{
    color: #E95A08;
    font-weight: bold;
    font-size: 4rem;
    margin: 10px;
}
.text-2{
    color: #E95A08;
    font-weight: bold;
    font-size: 3.1rem;
    margin: 10px;
}
.text-3{
    font-weight: bold;
    font-size: 4rem;
    margin: 10px;
}
.text-4{
    font-weight: bold;
    font-size: 3.1rem;
    margin: 10px;
}
.text-p{
    color: rgba(0, 0, 0, 0.5);
}
.max-width{
    max-width: 1140px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.aline-item-center{
    align-items: center;
}
.section-m{
    margin-top: 120px;
}
.aline-center{
    text-align: center;
}
/* navbar section style */

.navbar{
    justify-content: space-between;
    margin-top: 20px;
}
.nav-ul{
    gap: 10px;
}
.nav-cart{
    gap: 5px;
    margin-left: 10px;
}
/* our plant style section */
.plants-text{
    text-align: center;
}

.card-continer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card{
    text-align: center;
}
.card > h4{
    font-size: 1.3rem;
    font-weight: 500;
}
.card > h3{
    font-size: 1.3rem;
    font-weight: bold;
}
.card > button{
    background-color: #E95A08;
    height: 50px;
    width: 270px;
    border: none;
    color: white;
}
/* plant lover section style */
.plant-lover{
    display: flex;
}

.lover-batch img{
    height: 285px;
}
.lover-batch{
    margin-left: -140px;
    margin-top: -140px;
}
.lover-des{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}
.lover-des li{
    list-style:disc;
    margin-bottom: 30px;
    margin-top: 10px;
}
/* latest deals section style */
.deals-img{
    gap: 20px;
}
.deals-2img{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.deals-card img{
    filter: brightness(70%);
}
.deals-card div{
    margin-top: -150px;
    text-align: center;
    margin-left: 90px;
    position: absolute;
    color: white;
     
}
.deals-card img{
    border-radius: 14px;
}
.deals-card button{
    background-color: transparent;
    color: white;
    border: none;
    text-decoration: underline;
}
.deals-card2 img{
    filter: brightness(70%);
    border-radius: 14px;
}
.deals-card2 div{
    margin-top: -250px;
    text-align: center;
    position: relative;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}
.deals-card2 button{
    background-color: transparent;
    border:none;
    color: white;
    text-decoration: underline;
    font-size: 1.7rem;
    font-weight: 500;
}

/* subscribe section style */
.subscribe{
    height: 533px;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
}
.subscribe h3{
    font-size: 3.1rem;
    font-weight: bold;
    color: white;
}
.subscribe-input input{
    height: 44px;
    width: 644px;
}
.subscribe-cont{
    text-align: center;
}
.subscribe-input{
    display: flex;
    justify-content: center;
}
.subscribe-input button{
    height: 50px;
    width: 186px;
    background-color: #E95A08;
    color: white;
    border: none;
}
/* footer section style */
footer{
    justify-content: space-between;
}
.footer-nav{
    gap: 20px;
}
.footer-nav ul{
    display: grid;
    gap: 20px;
}
.footer-nav a{
    text-decoration: none;  
    color: rgba(0, 0, 0, 0.5);  
}
.socal-link{
    display: flex;
    gap: 20px;
}
/* extra style */
li{
    list-style: none;
}

/* responsive style section */
@media screen and (max-width:576px) {
    .nav-link{
        display: none;
    }
    .fresh-folowers{
        flex-direction: column;
    }
    .fresh-folowers img{
        width: 100%;
    }
    .card-continer{
        grid-template-columns: repeat(2,1fr); 
    }
    .card img{
        width: 100%;
    }
    .card button{
        width: 100%;
    }
    .lover-batch{
        display: none;
    }
    .plant-lover{
        flex-direction: column;
    }
    .lover-img img{
        width: 100%;
    }
    .deals-img{
        flex-direction: column;
    }
    .deals-2img img{
        width: 100%;
    }
    .deals-card2 img{
        width: 100%;
    }
    .deals-card div{
        scale: 1.5;
    }
    .subscribe-input{
      width: 400px;
    }
    footer{
        flex-direction: column;
        gap: 20px;
    }
    .footer-nav{
        flex-direction: column;
    }

}
